* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff00cc;
    position: relative;
    background: -webkit-linear-gradient(to right,
            #333399,
            #ff00cc);
    background: linear-gradient(to right,
            #333399,
            #ff00cc);
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 30px;
    background: white;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.1));
    box-shadow: 0 0 20px rgba(6, 218, 233, 0.3);
    border: 1px lightsteelblue ridge;
}

.container:hover {
    transform: scale(1.03);
    box-shadow: 0 0 50px rgba(6, 218, 233, 0.9);
    border: 2px #add8e6 ridge;
    background-color: rgba(127, 255, 212, 0.5);

    .output {
        box-shadow: 0 0 50px rgba(6, 218, 233, 0.9);
        border: 2px lightblue ridge;
        transform: scale(1.02);
        background-color: rgba(127, 255, 212, 0.5);
    }

    button {
        cursor: pointer;
        transform: scale(1.02);
        border: 2px lightblue ridge;
        box-shadow: 0 0 20px rgba(6, 218, 233, 0.9);
        text-shadow: 0 0 20px rgba(238, 0, 255, 0.9);
        color: rgba(238, 0, 255, 1);
        background-color: rgba(127, 255, 212, 0.4);
    }

    .operations {
        color: rgb(6, 168, 6);
        border: lightgreen 2px groove;
        background: rgba(47, 255, 47, 0.3);
        text-shadow: 0 0 20px rgba(0, 255, 0, 0.4);
        box-shadow: 0 0 20px rgba(10, 221, 10, 0.9)
    }

    .clear {
        color: rgb(255, 255, 255);
        border: 2px rgb(255, 116, 116) groove;
        background: rgba(255, 0, 0, 0.3);
        box-shadow: 0 0 30px rgba(221, 10, 10, 0.5);
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    }

    .material-icons {
        color: rgba(255, 0, 0, 1);
        border: 2px groove rgba(255, 0, 0, 0.5);
        background-color: 0 0 30px rgba(255, 0, 0);
        box-shadow: 0 0 30px rgba(255, 0, 0, 0.5);
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.9);
        font-size: 32px;
    }

    .equal {
        color: rgba(255, 255, 255);
        border: 2px groove rgba(0, 128, 0, 0.5);
        background-color: rgba(38, 255, 0, 0.7);
        box-shadow: 0 0 30px rgba(0, 128, 0);
    }
}


/* before container hover */
.output {
    width: 290px;
    height: 170px;
    border-radius: 20px;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.04),
            rgba(255, 255, 255, 0.01));
    box-shadow: 0 0 20px rgba(6, 218, 233, 0.3);
    margin-bottom: 30px;
    border: 1px lightsteelblue ridge;
}

.container>.output:hover {
    transform: scale(1.04);
    border: 3px rgb(80, 147, 169) ridge;
    box-shadow: 0 0 50px rgb(6, 93, 233);
    background-color: rgba(0, 255, 255, 0.3);
}

button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 32px;
    background: white;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.2));
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(6, 218, 233, 0.3);
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 255, 225, 0.3);
    border: 1px lightsteelblue ridge;
    color: hsla(312, 100%, 50%, 0.3);
}


.row {
    display: flex;
    gap: 12px;
}

.operations {
    color: rgba(10, 221, 10, 0.5);
    border: lightgreen 1px groove;
    box-shadow: 0 0 30px rgba(10, 221, 10, 0.5);
    text-shadow: 0 0 10px rgba(21, 255, 0, 0.3);
}

.clear {
    color: rgba(255, 255, 255, 0.3);
    border: 1px rgba(255, 116, 116, 0.3) groove;
    background: rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 30px rgba(221, 10, 10, 0.3);
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

.material-icons {
    color: rgba(255, 0, 0, 0.3);
    border: 1px groove rgba(255, 0, 0, 0.3);
    background-color: rgba(0, 255, 217, 0.3);
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.5);
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
}

.equal {
    color: rgba(255, 255, 255, 0.3);
    border: 1px rgba(0, 100, 0, 0.3) groove;
    background-color: rgba(38, 255, 0, 0.3);
    box-shadow: 0 0 30px rgba(0, 128, 0, 0.5);
}

/* after container hover */

button:hover:hover {
    transform: scale(1.2);
    border: rgb(63, 147, 175) ridge;
    box-shadow: 0 0 10px 5px rgb(0, 225, 255);
    background-color: aqua;

}


.operations:hover:hover {
    background-color: rgba(0, 255, 0, 0.505);
    box-shadow: 0 0 10px 5px rgba(10, 221, 10, 1);
    border: 3px green ridge;
}


.clear:hover:hover {
    background-color: rgba(255, 0, 0);
    box-shadow: 0 0 10px 5px rgb(221, 10, 10);
    border: 3px red ridge;
}

.material-icons:hover:hover {
    color: rgba(255, 0, 0, 1);
    border: 3px ridge rgb(255, 0, 0);
    box-shadow: 0 0 10px 5px rgb(255, 0, 0);
    text-shadow: 0 0 10px rgba(255, 0, 0);
}

.equal:hover:hover {
    border: 3px groove rgba(0, 255, 0);
    background: rgb(0, 255, 0);
    box-shadow: 0 0 10px 5px rgba(0, 255, 0);
}
